<!DOCTYPE html>
<html>
  <head>
    <title>N + 1</title>
    <meta name="description" content="N+1問題について">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href=<%= asset_path  'ball.png' %> type="image/png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
